extends layout

block content
  h1= title
  p   #{title} 

  div 
    form(action='/search',method='post')  
      input(
        type='input'
        name='searchvalue'
      )
      input(
        value='جستجو'
        type='submit'
        name='search'
      )
    
  div
    a(href='/tube', class='ui-btn ui-shadow').
      نمایش لیست ویدیو ها
  div
    a(href='/musics', class='ui-btn ui-shadow').
      نمایش لیست موزیکها 
